# Import python libaries

In [1]:
import pandas as pd
import numpy as np

# Import & QA the data

In [10]:
df_inventory = pd.read_csv("../Raw_Data/inventory.csv", delimiter=",")
df_products = pd.read_csv("../Raw_Data/products.csv", delimiter=",")
df_sales = pd.read_csv("../Raw_Data/sales.csv", delimiter=",")
df_stores = pd.read_csv("../Raw_Data/stores.csv", delimiter=",")

In [11]:
# There does not seem to be any outliers
df_inventory.describe()
df_sales.describe()

             Sale_ID       Store_ID     Product_ID          Units
count  829262.000000  829262.000000  829262.000000  829262.000000
mean   414631.500000      25.277034      15.014149       1.315103
std    239387.463802      14.352573       9.869417       0.830701
min         1.000000       1.000000       1.000000       1.000000
25%    207316.250000      13.000000       6.000000       1.000000
50%    414631.500000      26.000000      14.000000       1.000000
75%    621946.750000      38.000000      24.000000       1.000000
max    829262.000000      50.000000      35.000000      30.000000

# Identify duplicated values

In [12]:
#No duplicates found
df_inventory[df_inventory.duplicated(keep=False)]
df_products[df_products.duplicated(keep=False)]
df_sales[df_sales.duplicated(keep=False)]
df_stores[df_stores.duplicated(keep=False)]

Empty DataFrame
Columns: [Store_ID, Store_Name, Store_City, Store_Location, Store_Open_Date]
Index: []

# Identify changes to be made for the data type of each column in each table

In [13]:
#Product table: product_cost and product_price need to be float
df_products.info()
# Sales table: Date column needs to be a date
df_sales.info()
# Stores table: Store_Open_Date column needs to be a date
df_stores.info()

# We can also observe that they're are no missing values since the total number of entries = non-null count for each column within each table.

# Product table
df_products['Product_Cost'] = df_products['Product_Cost'].str.replace('$','').astype(float)
df_products['Product_Price'] = df_products['Product_Price'].str.replace('$','').astype(float)

# Sales table
df_sales.Date = pd.to_datetime(df_sales.Date, format = '%Y-%m-%d')

# Stores table
df_stores['Store_Open_Date'] = pd.to_datetime(df_stores['Store_Open_Date'], format = '%Y-%m-%d')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        35 non-null     int64
 1   Product_Name      35 non-null     object
 2   Product_Category  35 non-null     object
 3   Product_Cost      35 non-null     object
 4   Product_Price     35 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829262 entries, 0 to 829261
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sale_ID     829262 non-null  int64
 1   Date        829262 non-null  object
 2   Store_ID    829262 non-null  int64
 3   Product_ID  829262 non-null  int64
 4   Units       829262 non-null  int64
dtypes: int64(4), object(1)
memory usage: 31.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Store_ID         50 non-null     int64
 1   Store_Name       50 non-null     object
 2   Store_City       50 non-null     object
 3   Store_Location   50 non-null     object
 4   Store_Open_Date  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

# Remove redundant information to optimize data frame and fix typos in dataset

In [14]:
# AS the store name always starts with Maven Toys, it is possible to remove it
df_stores['Store_Name'] = df_stores['Store_Name'].str.replace('Maven Toys ','')

#Switch Cuidad to Ciudad
df_stores['Store_Name'] = df_stores['Store_Name'].str.replace('Cuidad','Ciudad')
df_stores['Store_City'] = df_stores['Store_City'].str.replace('Cuidad','Ciudad')

# Export cleaned dataframes to csv files

In [15]:
df_inventory.to_csv("cleaned_inventory.csv", index=False)
df_products.to_csv("cleaned_products.csv", index=False)
df_sales.to_csv("cleaned_sales.csv", index=False)
df_stores.to_csv("cleaned_stores.csv", index=False)