# Import python libaries

In [48]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy
import seaborn as sns
from sklearn import datasets

# Import & QA the data

In [49]:
df_inventory = pd.read_csv("../Raw_Data/inventory.csv", delimiter=",")
df_products = pd.read_csv("../Raw_Data/products.csv", delimiter=",")
df_sales = pd.read_csv("../Raw_Data/sales.csv", delimiter=",")
df_stores = pd.read_csv("../Raw_Data/stores.csv", delimiter=",")

In [50]:
df_inventory.describe()

          Store_ID   Product_ID  Stock_On_Hand
count  1593.000000  1593.000000    1593.000000
mean     25.326428    18.073446      18.670433
std      14.477592    10.064254      18.997652
min       1.000000     1.000000       0.000000
25%      13.000000     9.000000       6.000000
50%      25.000000    18.000000      13.000000
75%      38.000000    27.000000      24.000000
max      50.000000    35.000000     139.000000

# Identify duplicated values

In [51]:
#No duplicates found
df_inventory[df_inventory.duplicated(keep=False)]
df_products[df_products.duplicated(keep=False)]
df_sales[df_sales.duplicated(keep=False)]
df_stores[df_stores.duplicated(keep=False)]

Empty DataFrame
Columns: [Store_ID, Store_Name, Store_City, Store_Location, Store_Open_Date]
Index: []

# Identify changes to be made for the data type of each column in each table

In [ ]:
#Product table: product_cost and product_price need to be float
df_products.info()
# Sales table: Date column needs to be a date
df_sales.info()
# Stores table: Store_Open_Date column needs to be a date
df_stores.info()

# We can also observe that they're are no missing values since the total number of entries = non-null count for each column within each table.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product_ID        35 non-null     int64
 1   Product_Name      35 non-null     object
 2   Product_Category  35 non-null     object
 3   Product_Cost      35 non-null     float64
 4   Product_Price     35 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 1.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 829262 entries, 0 to 829261
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Sale_ID     829262 non-null  int64
 1   Date        829262 non-null  object
 2   Store_ID    829262 non-null  int64
 3   Product_ID  829262 non-null  int64
 4   Units       829262 non-null  int64
dtypes: int64(4), object(1)
memory usage: 31.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Store_ID         50 non-null     int64
 1   Store_Name       50 non-null     object
 2   Store_City       50 non-null     object
 3   Store_Location   50 non-null     object
 4   Store_Open_Date  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [56]:
df_products.head()

   Product_ID      Product_Name Product_Category  Product_Cost  Product_Price
0           1     Action Figure             Toys          9.99          15.99
1           2    Animal Figures             Toys          9.99          12.99
2           3   Barrel O' Slime     Art & Crafts          1.99           3.99
3           4  Chutes & Ladders            Games          9.99          12.99
4           5  Classic Dominoes            Games          7.99           9.99

In [ ]:
# fixing data category for products
df_products['Product_Cost'] = df_products['Product_Cost'].str.replace('$','').astype(float)
df_products['Product_Price'] = df_products['Product_Price'].str.replace('$','').astype(float)

In [ ]:
# fixing data category for products